/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
$accentColor = #6C5B7B;
$secondaryColor = lighten(#C06C84, 20%);
$textColor = #2c3e50;
$borderColor = rgba(0, 0, 0, 0.05);
$codeBgColor = darken(#654ea3, 50%);
$arrowBgColor = #ccc;
